@import url('https://fonts.googleapis.com/css?family=Nunito|Mali:wght@700');

@import '~vuetify/src/styles/styles.sass';

@import 'resets';

// html body #app > .__app-loading {
//   display: none;
// }

// html {
//   overflow-y: auto
// }

html body #app {
  margin: 0;
  padding: 0;
  min-height: 720px;
  // background-color: #f9f9f9;
  background-color: #fff;

  .app-content {
    height: 100%;
    padding: 0px;

    .app--full-height {
      height: 100%;
    }
  }

  // .drawer-logo {
  //   height: 100px;
  //   text-align: center;
  //   font-size: 40px;
  // }

  // .app--main-content {
  //   padding: 0px;
  //   height: 100%;
  //   width: 100%;

  //   .content-area {
  //     margin-top: 90px;
  //     padding: 0px 9px;
  //     margin-left: 300px;
  //   }
  // }

  // .curves {
  //   .v-sheet {
  //     border-radius: 10px;
  //     box-shadow: 0 0 3px #ddd;

  //     .no-radius {
  //       border-radius: 0;
  //     }
  //   }
  // }
}