@import url('https://fonts.googleapis.com/css?family=Nunito|Mali:wght@700');

@import '~vuetify/src/styles/styles.sass';

@import 'resets';

html body #app {
  margin: 0;
  padding: 0;
  min-height: 720px;
  background-color: #fff;

  .app-content {
    height: 100%;
    padding: 0px;

    .app--full-height {
      height: 100%;
    }

    .vue-tel-input {
      border-width: 1px;
      &:focus-within {

      box-shadow: none;
      border-color: #3BACB6;
      }
    }

    .vue-tel-input {
      ul {
        padding-left: 0px;
      }
    }

    .vti__dropdown-item {
      padding: 8px 15px;
  }

    .vti__input {
      height: 40px;
      
     
    }
  }

  .drawer-logo {
    height: 100px;
    text-align: center;
    font-size: 40px;
  }

  .app--main-content {
    padding: 0px;
    height: 100%;
    width: 100%;

    .content-area {
      margin-top: 85px;
      padding: 0px 10px;
    }
  }
}